*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.SMAIN{
    width:980px;
    height:500px;
    background-color:black;
}
.SERVICES{
    font-weight:bold;
    text-align: center;
    text-transform: capitalize;
    color:white;
    padding:10px;
}
.SERVICESSPAN{
    color:#D90166;
    transition:all 1.1s ease;
}
.SFLEX{
    display:flex;
    justify-content: space-around;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    width:970px;
    height:420px;
    background-color:black;
}
@media(max-width:570px){
    .SMAIN{
        width:300px;
        height:750px;
        transform:translate(0px,-80px);
    }
    .SFLEX{
        width:300px;
        height:700px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }
}