*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.FORM{
    width:450px;
    height:500px;
    background-color:black;
    position: absolute;
    top:60px;
    left:0;
    right:0;
    margin: auto;
}
.CTITLE{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size:22px;
    text-transform: capitalize;
    padding:10px;
}
.CSPAN{
    color:#D90166;
}
.CFORMS{
    width:300px;
    height:420px;
    background-color:none;
    border:1px solid #D90166;
    border-radius:15px;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    text-align:center;
    margin-top:15px;
}
input{
    background-color:black;
    width:190px;
    height:30px;
    margin:12px;
    border:1px solid #D90166;
    border-radius:15px;
    padding-left:8px;
    font-weight: bold;
    font-size:12px;
    outline:none;
    color:white;
}
.CSEND{
    background-color:black;
    border: 1px solid #D90166;
    width:230px;
    height:170px;
    border-radius:12px;
    margin-top:10px;
    font-weight: bold;
    padding-left:8px;
    padding-top:5px;
    color: white;
    outline:none;

}
.FSUBMIT{
    width:120px;
    height:30px;
    color:white;
    font-weight:bold;
    font-size:15px;
    background-color: #D90166;
}
@media(max-width:570px){
    .FORM{
        width:300px;
    }
    .CFORMS{
        width:250px;
    }
    input{
        width:170px;
    }
}