*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:black;
    overflow-x:none;
}
#Home,#About,#Project,#Service{
    width:1000px;
    height:100vh;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    left:0;
    right:0;
    margin: auto;
    margin-top:20px;  
}
#Contact{
    width:1000px;
    height:100vh;
    background-color:black;
    position: relative;
    left:0;
    right:0;
    margin: auto;
    margin-top:20px;   
}
@media(max-width:570px){
    #Service{
        height:130vh;
    }
    #Home,#About,#Project,#Service,#Contact{
        width:300px;
    }
}
