*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.PCARD{
    width:280px;
    height:150px;
    background-color:black;
    border-radius:15px;
    border:1px solid #D90166;
    box-shadow:0 4px 8px 0 rgba(0,0,0,.2),
    0px 6px 20px 0 rgba(0,0,0,.19);
    margin-top:40px;
    transition:0.3s;
}
.PCARD:hover{
    transform:scale(1.1);
}
.PTITLE{
    font-weight:bold;
    text-align: center;
    padding-top:25px;
    text-transform: capitalize;
    font-size:20px;
    color:white;

}
.PSTITLE{
    color:#D90166;
}
.PLINK{
    text-decoration: none;
    font-weight:bold;
    font-size:18px;
    color:white;
    padding-left:75px;
    
}
@media(max-width:570px){
    .PCARD{
        width:260px;
    }
}